In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

In [2]:
df = pd.read_csv('geo_data.txt', sep='\t', 
                 header=None, names=['lat','lon'])/10000

df.head()

       lat      lon
0  62.5983  29.7439
1  62.6146  29.7440
2  62.6144  29.7456
3  62.6004  29.7394
4  62.6018  29.7437

In [5]:
apt-get install python-mpltoolkits.basemap

SyntaxError: invalid syntax (<ipython-input-5-37d78785430d>, line 1)