In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_json('data_json.json')
df.head(3)



#import json

#with open('data_json.json') as f:
  #  df = json.load(f)

,ID,date,cost,CTR,Click,View,Join,Lead,Sale,Conversion for lead,Conversion for sale,Revenue,Cost per lead
0,11626893,2019-01-03,"179,62","5,43","69,00","1271,00","26,00",1,0,"0,01","0,00",0,"179,62"
1,11626893,2019-02-03,"123,43","5,91","42,00","711,00","18,00",5,1,"0,12","0,20",1500,"24,69"
2,11626893,2019-03-03,"125,47","9,14","54,00","591,00","24,00",3,1,"0,06","0,33",1500,"41,82"

In [4]:
df1 = df[['cost', 'View', 'Click']]
df1.head(3)

     cost     View  Click
0  179,62  1271,00  69,00
1  123,43   711,00  42,00
2  125,47   591,00  54,00

In [5]:
#my_str = df1.replace(',', '.')