In [ ]:
# матрица рейтингов из исходных данных

In [1]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,6)

In [2]:
filepath = './user_ratedmovies-timestamps.dat'
df_rates = pd.read_csv(filepath, sep='\t')

In [3]:
filepath = './data/movies.dat'
df_movies = pd.read_csv(filepath, sep = '\t', encoding='iso-8859-1')

In [4]:
df_rates.head(3)

   userID  movieID  rating      timestamp
0      75        3     1.0  1162160236000
1      75       32     4.5  1162160624000
2      75      110     4.0  1162161008000

In [15]:
df_movies.head(3)

,id,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtAllCriticsRating,rtAllCriticsNumReviews,rtAllCriticsNumFresh,...,rtAllCriticsScore,rtTopCriticsRating,rtTopCriticsNumReviews,rtTopCriticsNumFresh,rtTopCriticsNumRotten,rtTopCriticsScore,rtAudienceRating,rtAudienceNumRatings,rtAudienceScore,rtPictureURL
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995,toy_story,9,73,73,...,100,8.5,17,17,0,100,3.7,102338,81,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,113497,Jumanji,http://ia.media-imdb.com/images/M/MV5BMzM5NjE1...,1995,1068044-jumanji,5.6,28,13,...,46,5.8,5,2,3,40,3.2,44587,61,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,107050,Dos viejos gruñones,http://ia.media-imdb.com/images/M/MV5BMTI5MTgy...,1993,grumpy_old_men,5.9,36,24,...,66,7,6,5,1,83,3.2,10489,66,http://content6.flixster.com/movie/25/60/25602...

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
df_rates.userID.min(), df_rates.userID.max()

(75, 71534)

In [9]:
df_rates.userID.nunique()

2113

In [10]:
enc_user = LabelEncoder()
enc_mov = LabelEncoder()

In [11]:
# делаем переобозначения

enc_user = enc_user.fit(df_rates.userID.values)
enc_mov = enc_mov.fit(df_rates.movieID.values)

In [12]:
idx = df_movies.loc[:, 'id'].isin(df_rates.movieID)
df_movies = df_movies.loc[idx]

In [13]:
df_rates.loc[:, 'userID'] = enc_user.transform(df_rates.loc[:, 'userID')].values)
df_rates.loc[:, 'userID'] = enc_mov.transform(df_rates.loc[:, 'movieID')].values)
df_movies.loc[:, 'userID'] = enc_mov.transform(df_movies.loc[:, 'id')].values)

SyntaxError: invalid syntax (<ipython-input-13-945c3f8404f4>, line 1)