In [1]:
import pandas as pd
import numpy as np

In [2]:
var = pd.read_csv('Test/citibike1.csv')

In [3]:
var.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
var.shape

(1877884, 15)

In [6]:
var.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06
mean,9.675149e+02,1.641635e+03,4.073710e+01,-7.398237e+01,1.634439e+03,4.073674e+01,-7.398257e+01,2.652316e+04,1.979745e+03,1.154400e+00
std,7.893692e+03,1.454014e+03,3.115605e-02,1.971399e-02,1.453672e+03,3.097150e-02,1.977184e-02,6.363019e+03,1.188049e+01,5.615422e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.750000e+02,3.820000e+02,4.071740e+01,-7.399596e+01,3.820000e+02,4.071723e+01,-7.399601e+01,2.010700e+04,1.969000e+03,1.000000e+00
50%,6.400000e+02,5.140000e+02,4.073705e+01,-7.398565e+01,5.130000e+02,4.073650e+01,-7.398602e+01,2.809200e+04,1.982000e+03,1.000000e+00
75%,1.129000e+03,3.263000e+03,4.075892e+01,-7.397137e+01,3.263000e+03,4.075757e+01,-7.397179e+01,3.218900e+04,1.989000e+03,1.000000e+00
max,2.431651e+06,3.705000e+03,4.086900e+01,-7.387800e+01,3.705000e+03,4.086900e+01,-7.387800e+01,3.490700e+04,2.002000e+03,2.000000e+00

In [11]:
var['tripduration'].mean()/60

16.125248648656324

In [29]:
var['bikeid'].unique()

array([25577, 34377, 30496, ..., 27226, 31061, 32379])

In [15]:
var.groupby(['bikeid'])[['tripduration']].mean()

        tripduration
bikeid
14529    1048.922330
14530    1158.532934
14531     861.812500
14532     986.000000
14534     907.233577
...              ...
34899     610.000000
34902    3317.666667
34903    1679.400000
34904    5407.000000
34907    1009.875000

[10892 rows x 1 columns]

In [18]:
var.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [20]:
var.usertype

0          Subscriber
1          Subscriber
2          Subscriber
3          Subscriber
4            Customer
              ...
1877879    Subscriber
1877880    Subscriber
1877881    Subscriber
1877882    Subscriber
1877883    Subscriber
Name: usertype, Length: 1877884, dtype: object

In [25]:
var(start station id)

SyntaxError: invalid syntax (<ipython-input-25-407c19e042ba>, line 1)

In [30]:
var.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0

In [31]:
var['bikeid'].value_counts()

33875    559
33772    549
34357    549
33868    533
33878    532
        ...
34867      1
15834      1
32379      1
34431      1
29726      1
Name: bikeid, Length: 10892, dtype: int64

In [10]:
print((var.groupby(['usertype'])['tripduration'].mean())/60)

usertype
Customer      33.415379
Subscriber    13.332348
Name: tripduration, dtype: float64

In [13]:
a = var['start station id']

In [15]:
b = var['end station id']

In [16]:
c = list(set(a)&set(b))

In [26]:
len(c)

768

In [41]:
r = var.groupby(['bikeid'])['tripduration'].mean()

In [42]:
r

bikeid
14529    1048.922330
14530    1158.532934
14531     861.812500
14532     986.000000
14534     907.233577
            ...
34899     610.000000
34902    3317.666667
34903    1679.400000
34904    5407.000000
34907    1009.875000
Name: tripduration, Length: 10892, dtype: float64

In [40]:
var[var['start station id'].isnull()].shape

(716, 15)

In [48]:
r.max()

488022.4