In [13]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv('Credit.csv', sep = ';', encoding='cp1251')
df.head(3)

   кредит  клаcс  з_плата  возраст  кр_карта
0       1      2        2        2         1
1       0      2        1        2         0
2       0      4        1        1         1

In [4]:
# правильный ответ записываем в вектор

y = df[u'кредит']

# delete column with right answer

X = df.drop(u'кредит', axis = 1)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42,
                                                   test_size = 0.3)

In [6]:
model = RandomForestClassifier(random_state=42,
                              #value of trees in the forest
                              n_estimators=30,
                              # function of impurity (gini or entropy)
                              criterion='gini',
                              max_depth=5,
                              # out-of-bag error
                              oob_score=True,
                              # use previous call
                              warm_start=False,
                              #weight of class for balance
                              class_weight=None)

In [7]:
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=True, random_state=42, verbose=0,
                       warm_start=False)

In [12]:

y_pred = model.predict(X_test)
print (metrics.classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.89      0.82      0.85        49
           1       0.83      0.90      0.86        48

    accuracy                           0.86        97
   macro avg       0.86      0.86      0.86        97
weighted avg       0.86      0.86      0.86        97

In [14]:

conf_mat = metrics.confusion_matrix(y_test, y_pred)
conf_mat = pd.DataFrame(conf_mat, index = model.classes_, columns=model.classes_)
conf_mat

    0   1
0  40   5
1   9  43

In [15]:
print('Out-of-bag score: {0}'.format(model.oob_score_))

Out-of-bag score: 0.8672566371681416

In [16]:
pd.DataFrame({'feature': X.columns,
             'importance': model.feature_importances_}).sort_values('importance', ascending=False)

    feature  importance
1   з_плата    0.474388
2   возраст    0.392599
0     клаcс    0.108032
3  кр_карта    0.024981

In [44]:
new_item = ([2,1,1,0])
#new_item = np.eye(4)
print(new_item)

[2, 1, 1, 0]

In [45]:
model.predict([new_item])

array([0])

In [43]:
df.head(10)

   кредит  клаcс  з_плата  возраст  кр_карта
0       1      2        2        2         1
1       0      2        1        2         0
2       0      4        1        1         1
3       1      2        2        2         0
4       1      3        2        1         0
5       1      1        2        1         1
6       1      2        2        3         0
7       0      2        2        1         0
8       0      2        1        1         0
9       0      3        1        1         0